<html>
  <head>
    <title>FamilyStory</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
    <style>
      ziggeo {
        margin: 5px;
        padding: 5px;
        float:left;
      }
      .video-recorder-message-view {
        background-color: gray;
      }
      .video-uploader-upload-button-view {
        color: white;
      }
      .video-uploader-upload-button-view:hover {
        background-color: lightgray;
      }
    </style>

    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
    <script type="text/javascript" src='javascripts/backbone/app.js'></script>
    <script type="text/javascript" src='javascripts/backbone/models/member.js'></script>
    <script type="text/javascript" src='javascripts/backbone/collections/memberCollection.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/members/memberView.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/members/memberListView.js'></script>

    <script type='text/template' id='member-list-template'>
    <a href='#/new' class='btn btn-primary'>New Member</a>
    <hr />
    <table class='table striped'>
      <thead>
        <tr>
          <th>name</th>
          <th>date of birth</th>
          <th>city</th>
          <th>bio</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(members, function(member) { %>
          <tr>
            <td><%= htmlEncode(member.get('name')) %></td>
            <td><%= htmlEncode(member.get('dob')) %></td>
            <td><%= htmlEncode(member.get('city')) %></td>
            <td><%= htmlEncode(member.get('bio')) %></td>
            <td><a class="btn" href="#/edit/<%= member.id %>">Edit</a></td>
          </tr>
        <% }); %>
      </tbody>
    <table>
  </script>

  <script type='text/template' id='edit-member-template'>
    <form class='edit-member-form'>
      <legend><%= member ? 'edit ' : 'new ' %>member</legend>
      <label>name</label>
      <input type='text' name='name' value="<%= member ? member.get('name') : '' %>" />
      <label>date of birth</label>
      <input type='text' name='dob' value="<%= member ? member.get('dob') : '' %>" />
      <label>city</label>
      <input type='text' name='city' value="<%= member ? member.get('city') : '' %>" />
      <label>bio</label>
      <textarea type='text' name='bio' value="<%= member ? member.get('bio') : '' %>" />
      <hr />
      <button type='submit' class='btn'><%= member ? 'update' : 'create' %></button>
      <% if(member) { %>
        <input type='hidden' name='id' value='<%= member.id %>' />
        <button data-member-id="<%= member.id %>" class='btn btn-danger delete'>delete</button>
      <% }; %>
    </form>
  </script>

  </head>
  <body>

  <div class="container">

    <h1>Family Members</h1>
    <hr />
    <div class='page'></div>
    <ul class='members'></ul>
    <hr />

  </div>

  </body>
</html>
