<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamilyStory</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav navbar-nav">
              <li><h3 class='logotype'><%= link_to 'FamilyStory', root_path %></h3></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if !current_member %>
                  <li><%= link_to 'join the family!', signup_path %></li>
                  <li><%= link_to 'login', login_path %></li>
                <% else %>
                  <li><a href="/members/<%= current_member.id %>/edit">edit profile</a></li>
                  <li><%= link_to 'logout', logout_path, method: :delete%></li>
                <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div><!--/.navbar-inner -->
    </div><!--/.navbar-inverse -->

    <div class="container">

      <div class="row">

        <div>
          <% if alert %>
            <h1 class='alert'>
              <%= flash.now[:alert] %>
            </h1>
          <% end %>
          <% if notice %>
            <h1 class='notice'>
              <%= flash.now[:notice] %>
            </h1>
          <% end %>
        </div>

        <%= yield %>

      </div><!--/row-->

    </div> <!-- /container -->

  </body>
</html>
