<div class="form-group">

  <%= form_for @member do |f| %>
    <p>name</p>
    <%= f.text_field :name %><br />
    <p>email</p>
    <%= f.text_field :email %><br>
    <p>password</p>
    <%= f.password_field :password %><br>
    <% if @member %>
      <p>password confirmation</p>
      <%= f.password_field :password_confirmation %><br>
    <% end %>
    <p>date of birth</p>
    <%= f.text_field :dob %><br>
    <p>city</p>
    <%= f.text_field :city  %><br>
    <p>bio</p>
    <%= f.text_area :bio %><br>
    <br>
    <%= f.submit %>
  <% end %>

</div>

<br>


